#header()

<a href="./">Back</a>
<h1>Boudicca EventCollectors WebUI</h1>

<h2>Full Collection</h2>

<p>Start/End Time: $fullCollection.startEndTime</p>
<p>Duration: $fullCollection.duration</p>
<p>Errors: $fullCollection.errorsCount</p>

#singleCollectionsTable($fullCollection.singleCollections)

<h3>Log lines</h3>
<pre>$log</pre>

#footer()