#header()

<h1>Boudicca EventCollectors WebUI</h1>

<h2>Current Full Collection</h2>

#if( $hasOngoingFullCollection )

    <p>Full Collection is currently running for ${fullCollection.duration}, started on $fullCollection.startEndTime and currently has $fullCollection.totalErrors errors</p>

    <table>
        <thead>
        <tr>
            <td>Collector Name</td>
            <td>Duration</td>
            <td>Start/End Time</td>
        </tr>
        </thead>
        <tbody>
            #foreach( $singleCollection in $fullCollection.singleCollections)
            <tr>
                <td>#if( $singleCollection.errorsCount > 0)⚠#end
                    #if( $singleCollection.id )<a href="singleCollection?id=$singleCollection.id">$singleCollection.name</a>#else $singleCollection.name #end</td>
                <td>$singleCollection.duration</td>
                <td>$singleCollection.startEndTime</td>
            </tr>
            #end
        </tbody>
    </table>

#else
    <p>No Full Collection ongoing</p>
#end

<h2>Past Full Collections</h2>

<table>
    <thead>
    <tr>
        <td>Start/End Time</td>
        <td>Duration</td>
        <td>Total Errors</td>
    </tr>
    </thead>
    <tbody>
        #foreach( $fullCollection in $fullCollections)
        <tr>
            <td>#if( $fullCollection.id )<a href="fullCollection?id=$fullCollection.id">$fullCollection.startEndTime</a>#else $fullCollection.startEndTime #end</td>
            <td>$fullCollection.duration</td>
            <td>$fullCollection.totalErrors</td>
        </tr>
        #end
    </tbody>
</table>


#footer()