#header()

<h1>Boudicca EventCollectors WebUI</h1>

<h2>Last Full Collection</h2>

#if( $hasFullCollection )

    #if( $isFullCollectionOngoing )
        <p>Full Collection is currently running for $fullCollectionDuration and started on $fullCollectionStartEndTime </p>
    #else
        <p>Last Full Collection took $fullCollectionDuration and started on $fullCollectionStartEndTime</p>
    #end

    <table>
        <thead>
        <tr>
            <td>Collector Name</td>
            <td>Duration</td>
            <td>Start/End Time</td>
        </tr>
        </thead>
        <tbody>
            #foreach( $singleCollection in $singleCollections)
            <tr>
                <td>#if( $singleCollection.errorsCount > 0)⚠#end
                    #if( $singleCollection.id )<a href="singleCollection?id=$singleCollection.id">$singleCollection.name</a>#else $singleCollection.name #end</td>
                <td>$singleCollection.duration</td>
                <td>$singleCollection.startEndTime</td>
            </tr>
            #end
        </tbody>
    </table>

#else
    <p>No Full Collection available</p>
#end


#footer()