@layer default {

.events-grid {
    gap: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%),1fr));
}

.event {
    display: flex;
    flex-direction: column;
}

.event-title {
    font-size: var(--font-size-large);
    margin-top: 18px;
    margin-bottom: 12px;
    font-weight: 600;
    /** https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.event-image {
    height: 250px;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 4px;
}

.event-image img {
    max-height: 180px;
    max-width: 180px;
    object-fit: contain;
    border-radius: 4px;
}

.event-image-modal {
    height: 300px;
    width: 500px;
    max-width: 100%;
    padding: var(--space-large);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 4px;
    background-color: var(--color-main);
}

.event-image-tech, .event-image-modal-tech {
    background-color: var(--color-main-green);
}

.event-image-miscArt, .event-image-modal-miscArt {
    background-color: var(--color-main-yellow);
}

.event-image-music, .event-image-modal-music {
    background-color: var(--color-main-red);
}

.event-description {
    padding: 4px 8px;
    font-size: var(--font-size-small);
}

.anchor-to-event {
    color: inherit;
    position: absolute;
    text-decoration: none;
    right: 8px;
    font-size: var(--font-size-xsmall);
    padding: 8px 24px;
    margin-top: 10px;
    border: 1px solid var(--anchor-to-eventpage-border-color);
    background-color: var(--anchor-to-eventpage-background-color);
    bottom: -18px;
    font-weight: bold;
    border-radius: 4px;
}

.anchor-to-eventpage:focus {
    background-color: var(--color-main-yellow-focus);
}


.anchor-to-eventmodal {
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: var(--font-size-xsmall);
    padding: 8px 24px;
    border: 1px solid var(--anchor-to-eventpage-border-color);
    background-color: var(--anchor-to-eventpage-background-color);
    font-weight: bold;
    border-radius: 4px;
}

.event-details {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 6px;
}

.event-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal .event-details-wrapper {
    height: 100%;
    justify-content: space-between;
    margin-top: 12px;
}

.event-image-modal img {
    max-height: 300px;
    max-width: 500px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.modal-row-image {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.event-modal-chips {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.event-modal-chip {
    padding: var(--space-small) var(--space-medium);
    border-radius: 20px;
    background-color: var(--color-main-light);
}

.modal-close {
    display: flex;
    position: absolute;
    right: 0;
    padding: var(--space-large);
    top: 0;
    z-index: 100;
}

.accessibility-details {
    display: flex;
    background-color: var(--color-white);
    position: absolute;
    left: var(--space-medium);
    padding: var(--space-medium);
    border: 1px solid black;
    top: var(--space-medium);
    border-radius: 4px;
}

#loadMoreButton {
    font-size: var(--font-size-large);
    margin-top: var(--space-xxlarge);
    width: 100%;
}

#endOfResults,
#resultNotFound {
    display: flex;
    font-size: var(--font-size-large);
    margin-top: var(--space-xxlarge);
    flex-direction: column;
    gap: var(--space-medium);
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal h2 {
    margin: 0.1em 0 1em 0;
}

.modal-flex {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 4px 4px 0 0;
}

.modal-tabs {
    border-radius: 0 0 4px 4px;
    padding: 0 2rem 1.5rem 2rem;
}

.modal-column {
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: -webkit-fill-available;
}

#modal-content {
    background-color: var(--color-white);
    margin: 5% auto;
    border: 1px solid var(--anchor-to-eventpage-border-color);
    width: 80%;
    max-width: 970px;
    position: relative;
    border-radius: 4px;
}

.details-box {
    max-height: 400px;
    overflow: auto;
}

.details-box ul {
    margin: 0;
    padding: 12px 0 6px 0;
    overflow: hidden;
    list-style: none;
}

.details-box li {
    float: left;
}

.details-box li a {
    text-decoration: none;
    line-height: 40px;
    font-weight: bold;
}

.event-details-miscArt, .event-modal-chip-miscArt {
    background-color: var(--color-main-yellow-light);
}

.event-details-tech, .event-modal-chip-tech {
    background-color: var(--color-main-green-light);
}

.event-details-music, .event-modal-chip-music {
    background-color: var(--color-main-red-light);
}

.details-box article {
    margin: 10px 0px;
    display: -webkit-box;
    /* https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines */
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 970px) {
    .event-image-modal {
        width: -webkit-fill-available;
    }
    .modal-row-image {
        gap: 1rem;
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    #modal-content {
        margin: unset;
        width: 100%;
    }
}

} /* default layer */