body {
    background-color: var(--color-white);
}

.content {
    max-width: var(--max-main-width);
    margin: auto;
}

#accessibility-main-skip-link {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 0;
    height: 0;
    overflow: hidden;
    background-color: var(--color-main-yellow-focus);
}

#accessibility-main-skip-link:focus {
    width: auto;
    height: auto;
    padding: 8px;
}

.mobile-menu {
    z-index: 9999;
    min-width: 500px;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 32px;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    border-left: 1px solid black;
    box-shadow: 1px 0px 10px 11px #87878724;
    overflow: scroll;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 700px) {
    .mobile-menu {
        width: 100vw;
        border: none;
        box-shadow: none;
        min-width: 0;
    }
}

.mobile-menu-open {
    visibility: visible;
    opacity: 1;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    .header-accessibility-filter {
        flex-direction: column;
    }
}

.header-accessibility-filter {
    display: flex;
    flex: 1;
    gap: 12px;
}

.menu-header-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px 0;
}

.menu-header-links a {
    font-weight: bold;
    text-decoration: none;
}

footer {
    margin: 124px 0 48px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    border-top: 1px solid var(--color-main-grey);
}

@media only screen and (max-width: 970px) {
    footer {
        flex-direction: column;
        align-items: flex-end;
    }
}

footer a {
    font-size: var(--font-size-small);
    text-decoration: none;
}

footer ul {
    list-style: none;
    text-align: right;
}