@layer default {

#drawer {
    display: none;
    padding: 0 10px 24px 10px;
    flex-wrap: wrap;
    margin: 0 0 24px 0;
    border-bottom: 1px solid var(--color-main-grey);
    gap: 20px 30px;
    background-image: url("/img/logo_grey.svg");
    background-repeat: no-repeat;
    background-position: 117% 117px;
    justify-content: space-around;
}

.multiselect-labels, #drawer input, #drawer select {
    border: 1px #ccc solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

fieldset {
    border: none;
    flex-basis: 30%;
    flex-grow: 5;
    margin: 0;
    padding: 0;
    max-width: max-content;
}

fieldset[data-category-wanted="SPORT"], .dateFieldSet {
    flex-basis: 10%;
    flex-grow: 1;
}

legend {
    margin-bottom: 12px;
}

#drawer input[type=checkbox] {
    margin: 0px 8px 0px -2px;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
}

#closeDrawerButton {
    width: 100%;
    margin-bottom: -24px;
    text-align: end;
    font-size: 24px;
    position: relative;
    top: -8px;
}

#filterSearchButton {
    padding: 12px 24px;
    border-radius: 10px;
    margin-top: 24px;
    font-size: 18px;
    background-color: #eee;
    display: flex;
    gap: 6px;
}

#filterSearchButton:hover {
    outline: 1px solid var(--color-filterSearchButton);
}

#resetSearchForm {
    margin-top: 12px;
    display: block;
}

#resetSearchForm::before {
    content: '\2715';
    border-radius: 10px;
    color: #bbb;
    margin: 0px 6px;
}

#resetSearchForm:hover::before {
    color: #555;
}

.filter-label {
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.filter-input-wrapper {
    display: flex;
    flex-direction: column;
}

.header-search-filter {
    display: flex;
}

.header-search-filter button {
    display: flex;
}

.search-buttons {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
}

#drawer input:not([type='checkbox']), #drawer select {
    min-width: 150px;
    max-width: 300px;
}

.header-accessibility-filter {
    display: flex;
    flex: 1;
    gap: 12px;
    flex-wrap: wrap;
    flex-direction: column;
}

.header-date-search {
    display: flex;
    flex: 1;
    gap: 12px;
    flex-direction: column;
}

.multiselect-wrapper {
    font-size: var(--font-size-small);
    max-width: 400px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    gap: 5px;
}

.multiselect-chips {
    width: 100%;
    overflow: scroll;
    flex-grow: 5;
    flex-basis: 20%;
    max-height: 150px;
    padding-bottom: 5px;
    display: inline-block;
}

.multiselect-labels {
    width: 100%;
    overflow: scroll;
    flex-shrink: 5;
    flex-basis: 90%;
    max-height: 230px;
}

.multiselect-labels ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

.multiselect-labels ul li {
    margin-bottom: 4px;
}

.multiselect-labels ul li label {
    width: 100%;
    display: block;
}

.multiselect-wrapper input[type=checkbox], .chips {
    position: absolute;
    opacity: 0;
}

input[type=checkbox]:checked + label.chips {
    display: inline-block;
    background-color: #eee;
    border-radius: 20px;
    padding: 4px 10px 4px 10px;
    margin-bottom: 3px;
    align-items: center;
}

input[type=checkbox]:checked + label.chips::before {
    content: '\2715';
    border-radius: 10px;
    color: #bbb;
    margin-right: 8px;
}

input[type=checkbox]:checked + label.chips:hover::before {
    color: #555;
}

@media only screen and (max-width: 700px) {
    .header-date-search {
        flex-direction: column;
    }

    fieldset {
        flex-basis: 40%;
    }
}

} /* default layer */