<style>
    .home-link {
        margin-top: 24px;
        display: inline-block;
    }

    .col-2 {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: center;
    }

    @media only screen and (max-width: 700px) {
       .col-2  {
            flex-direction: column;
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .about-content p{
        margin-top: 10px;
    }

    @media only screen and (max-width: 700px) {
        h1 > span {
            display: none;
        }
    }
</style>
{{#> layout/header }}{{/layout/header}}
<main id="#main-content" class="main">
    <h1 class="header-title">Über BOUDICCA.EVENTS</h1>
    <div class="about-content">
        <div>
            <h2>Ziel und Motivation</h2>
            <p>
                Du liebst Konzerte, Vorträge, Veranstaltungen, ...? Wir auch!
            </p>

            <p>
                Aber wir wollen keine 20 Websites durchforsten. Deshalb wird <strong>boudicca.events</strong> zur zentralen Quelle für Event-Informationen. Wir reichern diese Daten mit zusätzlichen Informationen an, wie etwa zur Barrierefreiheit, um Veranstaltungen für alle zugänglicher zu gestalten.
            </p>
        </div>

        <div>
            <h2>Was heißt Accessibility für uns</h2>
            <p>
                Für uns ist Barrierefreiheit / Accessibility sowohl bei den Informationen über Veranstaltungen als auch bei den Veranstaltungen selbst entscheidend. Denn die Teilhabe an Kunst und Kultur für alle Menschen kann Verschiedenstes voraussetzen. Daher ist es uns wichtig,
            </p>
            <ul>
                <li> … für z.B. Sehbeeinträchtigte Informationen computerlesbar zugänglich zu machen.</li>
                <li> … für z.B. Sehbeeinträchtigte und Rollstuhlfahrer*innen Informationen zur physischen Gegebenheit der Eventlocation bereitzustellen.</li>
                <li> … für z.B. ältere Personen Informationen verständlich und detailliert aufzubereiten und zu präsentieren.</li>
                <li> … für z.B. neu Zugezogene auf einen Blick alle Veranstaltungen die lokal stattfinden sichtbar zu machen.</li>
                <li> … für z.B. Eltern Informationen anzuzeigen, ob das Event für Kinder und mit Kindern geeignet ist.</li>
                <li> … für z.B. Menschen mit niedrigen Einkommen auf kostenlose Veranstaltungen hinzuweisen.</li>
            </ul>
        </div>

        <div>
            <h2>Wer sind wir & Kontaktdaten</h2>
            <p>
                Wenn du uns kontaktieren möchtest, schreib uns gerne eine Mail an: <a href="mailto:team@boudicca.events">team@boudicca.events</a>
            </p>
            <p>
                Wir haben uns bei <a href="https://innovation.linz.at/de/aktuelle-projekte/linz-hackt/" target="_blank">Linz Hackt</a> und <a href="https://updatesocial.org/" target="_blank">Update Social</a> zusammengefunden und an den ersten Prototypen gearbeitet. Mittlerweile sind wir sieben Teammitglieder von verschiedenen Hintergründen wie Wissenschaft, Softwareentwicklung und Sozialarbeit etc., die an dem Projekt weiterarbeiten. Gerade nehmen wir am Update Social Umsetzungsprogramm teil und haben in diesem Rahmen auch ein Umsetzungsstipendium erhalten.
            </p>
            <p>
                Wenn du Beschwerden, Anregungen oder Probleme mit boudicca.events hast bitte melde dich über unsere Email: <a href="mailto:team@boudicca.events">team@boudicca.events</a>
            </p>
        </div>

        <div>
            <h2>Wie kann man mitmachen</h2>
            <p>
                Wir sind immer auf der Suche nach Unterstützung. Wenn du bei uns mitmachen möchtest, sei es im Aufbereiten und Kontrollieren der Daten oder auch beim Entwickeln der Software oder ganz allgemein, dann schreib uns gerne eine Mail an: <a href="mailto:team@boudicca.events">team@boudicca.events</a>
            </p>
            <p>
                Unser Sourcecode liegt auf <a href="https://github.com/boudicca-events/boudicca.events" target="_blank">GitHub</a>
            </p>
            <p>
                Du bist Veranstalter*in oder hast eine Veranstaltungslocation? Komm auf uns zu, damit wir auch deine Informationen auf unserer Platform anzeigen & bewerben können -> <a href="mailto:team@boudicca.events">team@boudicca.events</a>
            </p>
        </div>

        <div>
            <h2>Wie funktioniert boudicca.events</h2>
            <p>
                Die Architektur des Projektes besteht aus 5 Teilen:
            </p>
            <ol>
                <li>Einer Zentralen Datenbank.</li>
                <li>Eine Sammlung von Eventcollectors. Jeder dieser sammelt automatisiert die Eventdaten von öffentlichen Quellen zusammen und reichert diese mit weiteren Accessibilitydaten an.</li>
                <li>Eine offene Schnittstelle, an der alle Eventdaten abgeholt werden können.</li>
                <li>Eine Webseite, die die Daten anzeigt.</li>
                <li>Einen Suchservice, der Filter- und Suchfunktionen umsetzt.</li>
            </ol>
        </div>

        <div>
            <h2>Disclaimer</h2>
            <p>Wir übernehmen keine Verantwortung oder Haftung für etwaige Fehler oder Auslassungen im Inhalt dieser Website. Die auf dieser Website enthaltenen Informationen werden ohne Gewähr für Vollständigkeit, Genauigkeit, Nützlichkeit oder Aktualität und ohne jegliche ausdrückliche oder stillschweigende Garantie bereitgestellt.
            </p>
        </div>
    </div>

    <a href="/" target="_self" class="home-link">Zur Einstiegsseite</a>
</main>
