{{#> layout/header}}{{/layout/header}}
<main id="#main-content" class="main">
    <h1>Datenschutz</h1>
    <div class="about-content no-gap">
        <p>
            Wir sammeln anonymisierte Besucherdaten damit wir sehen können, ob unsere Seite auch wirklich verwendet wird :)
        </p>
        <p>
            Wir speichern keine benutzerbezogenen Daten und auch keine IP-Adressen.
            Alle Daten, die wir sammeln, sind öffentlich unter
            <a target="_blank" href="https://plausible.monitoring.boudicca.events/boudicca.events">https://plausible.monitoring.boudicca.events/boudicca.events</a>
            zu sehen.
        </p>
    </div>

    <a href="/" target="_self" class="home-link">Zu den Events</a>
</main>
