<style>
    .home-link {
        margin-top: 24px;
        display: inline-block;
    }

    .col-2 {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: center;
    }

    @media only screen and (max-width: 700px) {
       .col-2  {
            flex-direction: column;
        }
    }

    .accessibility-statement-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .accessibility-statement-content p{
        margin-top: 10px;
    }

    @media only screen and (max-width: 700px) {
        h1 > span {
            display: none;
        }
    }
</style>
{{#> layout/header title="Erklärung zur Barrierefreiheit" }}{{/layout/header}}
<main id="main-content" class="main">
    <div class="accessibility-statement-content">
        <div>
            <p>
                Diese Erklärung gilt für Inhalte, die auf der Domain https://boudicca.events/ veröffentlicht werden.
            </p>
            <p>
                Sie gilt nicht für andere Inhalte oder Websites, die auf einer der Veranstaltungen verlinkt sind.
                Für diese Websites und deren Inhalte gelten eigene Zugänglichkeitserklärungen.
            </p>
            <p>
                Diese Website wird vom Boudicca.Events-Team verwaltet und ist so gestaltet,
                dass sie von möglichst vielen Menschen genutzt werden kann, auch von Menschen mit Behinderungen.
            </p>
            <p>
                Sie sollten dazu in der Lage sein:

                <ul>
                    <li>ohne Probleme bis zu 200% zoomen</li>
                    <li>den größten Teil der Website nur mit der Tastatur zu bedienen</li>
                    <li>den größten Teil der Website mit einem modernen Bildschirmlesegerät und einer Spracherkennungssoftware (auf Ihrem Computer oder Telefon) zu bedienen</li>
                </ul>
            </p>
            <p>
                Diese Website wurde gemäß der <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf" target="_blank">technischen Norm für Websites und mobile Anwendungen, EN 301 549 v.3.2.1</a>, entwickelt.
                Dies entspricht der Stufe "AA" der <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">Zugänglichkeitsrichtlinien für Webinhalte (WCAG) Version 2.1.</a>
            </p>

            <h2>Stand der Einhaltung</h2>
            <p>
                Diese Website entspricht teilweise der <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf" target="_blank">technischen Norm EN 301 549 v.3.2.1</a>
                und den <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">Zugänglichkeitsrichtlinien für Webinhalte (WCAG) Version 2.1. der Stufe AA</a>.
                Siehe <a href="#non-accessible-content">Nicht zugängliche Inhalte</a> für weitere Einzelheiten.
            </p>
            <p>Die Website wurde zuletzt am 4. Mai 2024 getestet.</p>

            <h2>Rückmeldung</h2>
            <p>
                Die Angebote und Dienstleistungen auf der Website werden wie beschrieben kontinuierlich verbessert, ausgetauscht und erweitert.
                Dabei ist uns die Benutzerfreundlichkeit und Barrierefreiheit ein großes Anliegen.

                Sollten Ihnen Barrieren auffallen, die Sie an der Nutzung unserer Website hindern - Probleme und/oder Mängel in Bezug auf die Einhaltung von Zugänglichkeitsanforderungen - teilen Sie uns dies bitte per E-Mail mit.
                Wir werden Ihr Anliegen prüfen und uns so schnell wie möglich mit Ihnen in Verbindung setzen.

                Kontakt:
                Boudicca-Team
                E-Mail: team@boudicca.events
            </p>

            <h2>Kompatibilität mit Browsern und unterstützenden Technologien</h2>
            <p>
                Die Website Boudicca.events ist so konzipiert, dass sie mit den folgenden unterstützenden Technologien kompatibel ist:

                <ul>
                    <li>die neueste Version der Browser Google Chrome</li>
                    <li>in Kombination mit den neuesten Versionen von VoiceOver.</li>
                </ul>
            </p>

            <h2>Nicht zugängliche Inhalte</h2>
            <p>
                TODO
            </p>
        </div>
    </div>

    <a href="/" target="_self" class="home-link">Zur Einstiegsseite</a>
</main>
