<style>
    .home-link {
        margin-top: 24px;
        display: inline-block;
    }

    .col-2 {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: center;
    }

    @media only screen and (max-width: 700px) {
       .col-2  {
            flex-direction: column;
        }
    }

    .about-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .about-content p{
        margin-top: 10px;
    }

    @media only screen and (max-width: 700px) {
        h1 > span {
            display: none;
        }
    }
</style>
{{#> layout/header title="Erklärung zur Barrierefreiheit" }}{{/layout/header}}
<main class="main">
    <div class="about-content">
        <div>
            <h2>Erklärung zur Barrierefreiheit</h2>
            <p>
                Erklärung zur Zugänglichkeit

                Diese Erklärung gilt für Inhalte, die auf der Domain https://boudicca.events/ veröffentlicht werden.

                sie gilt nicht für andere Inhalte oder Websites, die auf einer der Veranstaltungen verlinkt sind. Für diese Websites und deren Inhalte gelten eigene Zugänglichkeitserklärungen.

                Diese Website wird vom Boudicca.Events-Team verwaltet und ist so gestaltet, dass sie von möglichst vielen Menschen genutzt werden kann, auch von Menschen mit Behinderungen.

                Sie sollten dazu in der Lage sein:

                - ohne Probleme bis zu 200% zoomen
                - den größten Teil der Website nur mit der Tastatur zu bedienen
                - den größten Teil der Website mit einem modernen Bildschirmlesegerät und einer Spracherkennungssoftware (auf Ihrem Computer oder Telefon) zu bedienen

                Diese Website wurde gemäß der <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf" target="_blank">technischen Norm für Websites und mobile Anwendungen, EN 301 549 v.3.2.1</a>, entwickelt.
                Dies entspricht der Stufe "AA" der <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">Zugänglichkeitsrichtlinien für Webinhalte (WCAG) Version 2.1.</a>
            </p>
        </div>
    </div>

    <a href="/" target="_self" class="home-link">Zur Einstiegsseite</a>
</main>
