{{#> layout/header }}{{/layout/header}}
<main id="main-content" class="main">
    <h1>Impressum</h1>
    <div class="about-content no-gap">
        <p>
            Matthias Ableidinger, Kaarstraße 27 4040 Linz
        </p>

        <a href="mailto:team@boudicca.events">team@boudicca.events</a>

    </div>

    <a href="/" target="_self" class="home-link">Zu den Events</a>
</main>