<style>
    @layer default {
    .drawer {
        display: flex;
        padding: 0 24px 24px 24px;
        flex-wrap: wrap;
        margin-bottom: 24px;
        border-bottom: 1px solid var(--color-main-grey);
    }

    fieldset {
        border: none;
    }

    legend {
        margin-bottom: 12px;
    }

    .drawer-header {
        display: flex;
        justify-content: space-between;
    }

    #filterSearchButton {
        padding: 12px 24px;
        border: 1px solid var(--color-filterSearchButton);
        margin-top: 24px;
        font-size: 18px;
        height: 100%;
    }

    #resetSearchForm {
        margin-top: 4px;
        text-align: left;
        width: max-content;
    }

    .date-input {
        appearance: none;
        min-width: 135px;
    }

    .filter-label {
        font-size: 12px;
        margin-bottom: 2px;
        font-weight: 600;
        display: flex;
    }

    .filter-input-wrapper {
        display: flex;
        flex-direction: column;
    }

    .header-search-filter {
        display: flex;
    }

    .header-search-filter button {
            display: flex;
        }

    #drawer input:not([type='checkbox']), #drawer select {
        min-width: 150px;
        max-width: 300px;
    }

    @media only screen and (max-width: 700px) { 
        .header-accessibility-filter {
            flex-direction: column;
        }
    }

    .header-accessibility-filter {
        display: flex;
        flex: 1;
        gap: 12px;
        flex-wrap: wrap;
    }

    .header-date-search {
        display: flex;
        flex: 1;
        gap: 12px;
        flex-direction: column;
    }

    @media only screen and (max-width: 700px) {
        .header-date-search {
            flex-direction: column;
        }
    }

    .multiselect-wrapper {
        font-size: var(--font-size-small);
    }
    .multiselect-wrapper input[type=checkbox], .chips {
        display: none;
    }
    input[type=checkbox]:checked + label.chips {
        display: inline-block;
        background-color: #eee;
        border-radius: 10px;
    }
    input[type=checkbox]:checked + label.chips::before {
        content: 'x';
        border-radius: 10px;
        background-color: #ccc;
        padding: 1px 6px;
    }

    .multiselect-chips {
        width: 300px;
        max-height: 200px;
        overflow: scroll;
    }
    .multiselect-labels {
        width: 300px;
        max-height: 200px;
        overflow: scroll;
        border: 1px black solid;
    }
    .multiselect-labels ul {
        padding-left: 30px;
        padding-right: 10px;
    }
}
</style>

<div id="drawer" class="drawer">
<!-- <button type="button" id="closeDrawerButton" title="Filtersuche schließen" tabindex="0">-->

    <fieldset>
        <div class="header-search-filter">
            <div class="header-date-search">
                <div class="filter-input-wrapper">
                    <div>
                        <label for="categorySelect" class="filter-label">Veranstaltungsart</label>
                        {{#each filters.categories as |category|}}
                            <input type="checkbox" name="category" id="categorySelect" value="{{category.first}}" />
                            <label for="track">{{category.second}}</label>
                        {{/each}}
                    </div>
                </div>
                <div class="filter-input-wrapper">
                    <label for="includeRecurring" class="filter-label">Zeige sich wiederholende Veranstaltungen</label>
                    <input type="checkbox" id="includeRecurring" name="includeRecurring">
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="header-search-filter">
            <div class="header-date-search">
                <div class="filter-input-wrapper">
                    <label for="fromDate" class="filter-label">Datum von</label>
                    <input id="fromDate" name="fromDate" type="date" class="date-input"/>
                </div>

                <div class="filter-input-wrapper">
                    <label for="toDate" class="filter-label">Datum bis</label>
                    <input id="toDate" name="toDate" type="date" class="date-input"/>
                </div>
            </div>
        </div>
    </fieldset>

    {{> layout/multiselect_fieldset identifier="locationName" name="Veranstaltungsort" entries=filters.locationNames }}
    {{> layout/multiselect_fieldset identifier="locationCity" name="Stadt" entries=filters.locationCities }}
    {{> layout/multiselect_fieldset identifier="bandName" name="Bandname" entries=filters.bandNames legend="Musik" data-category="MUSIC"}}

    <fieldset data-category-wanted="SPORT">
        <legend><strong>Sport</strong></legend>
        <div class="header-search-filter">
            <div class="header-date-search">
                <div class="filter-input-wrapper">
                    <label for="sportParticipation" class="filter-label">Teilnahme</label>
                    <select name="sportParticipation" id="sportParticipation" multiple>
                        <option value="">Beliebig</option>
                        <option value="active">Zum Mitmachen</option>
                        <option value="watch">Zum Zuschauen</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend><strong>Accessibility</strong></legend>
        <div class="header-search-filter">
            <div class="header-accessibility-filter">
                <div class="filter-input-wrapper">
                    <label for="accessibility.accessibleEntry" class="filter-label">
                        <input type="checkbox" id="accessibility.accessibleEntry" value="accessibility.accessibleEntry" name="flags">
                        Barrierefreier Zugang
                    </label>
                </div>
                <div class="filter-input-wrapper">
                    <label for="accessibility.accessibleSeats" class="filter-label">
                        <input type="checkbox" id="accessibility.accessibleSeats" value="accessibility.accessibleSeats" name="flags">
                        Rollstuhlplatz
                    </label>
                </div>
                <div class="filter-input-wrapper">
                    <label for="accessibility.accessibleToilets" class="filter-label">
                        <input type="checkbox" id="accessibility.accessibleToilets" value="accessibility.accessibleToilets" name="flags">
                        Barrierefreie Toiletten
                    </label>
                </div>
                <div class="filter-input-wrapper">
                    <label for="accessibility.accessibleAktivpassLinz" class="filter-label">
                        <input type="checkbox" id="accessibility.accessibleAktivpassLinz" value="accessibility.accessibleAktivpassLinz" name="flags">
                        Aktivpass möglich
                    </label>
                </div>
                <div class="filter-input-wrapper">
                    <label for="accessibility.accessibleKulturpass" class="filter-label">
                        <input type="checkbox" id="accessibility.accessibleKulturpass" value="accessibility.accessibleKulturpass" name="flags">
                        Kulturpass möglich
                    </label>
                </div>
            </div>
        </div>
    </fieldset>

    <button id="filterSearchButton" type="submit">
        Suchen
    </button>

    <button id="resetSearchForm" type="button" data-drawer-last-focusable-element>Suche zurücksetzen</button>
</div>