<form id="drawer" class="drawer" aria-hidden="true">
    <button type="button" id="closeDrawerButton" title="Filter schließen" tabindex="0">
        &#x2715;
    </button>

    {{> layout/multiselect_fieldset identifier="category" legend="Veranstaltungsart" entries=filters.categories }}

    <fieldset class="dateFieldSet">
        <legend><strong>Datum</strong></legend>
        <div class="header-date-search">
            <div class="filter-input-wrapper">
                <label for="fromDate" class="filter-label">Datum von</label>
                <input id="fromDate" name="fromDate" type="date"/>
            </div>

            <div class="filter-input-wrapper">
                <label for="toDate" class="filter-label">Datum bis</label>
                <input id="toDate" name="toDate" type="date"/>
            </div>

            <div class="filter-input-wrapper">
                <label for="includeRecurring" class="filter-label">
                    <input type="checkbox" id="includeRecurring" name="includeRecurring" aria-checked="false">
                    Zeige wiederholende<br/>Veranstaltungen
                </label>
            </div>
        </div>
    </fieldset>

    <fieldset class="accessibility">
        <legend><strong>Accessibility</strong></legend>
        <div class="header-accessibility-filter">
            <div class="filter-input-wrapper">
                <label for="accessibility.accessibleEntry" class="filter-label">
                    <input type="checkbox" id="accessibility.accessibleEntry" value="accessibility.accessibleEntry" name="flags" aria-checked="false">
                    Barrierefreier Zugang
                </label>
            </div>
            <div class="filter-input-wrapper">
                <label for="accessibility.accessibleSeats" class="filter-label">
                    <input type="checkbox" id="accessibility.accessibleSeats" value="accessibility.accessibleSeats" name="flags" aria-checked="false">
                    Rollstuhlplatz
                </label>
            </div>
            <div class="filter-input-wrapper">
                <label for="accessibility.accessibleToilets" class="filter-label">
                    <input type="checkbox" id="accessibility.accessibleToilets" value="accessibility.accessibleToilets" name="flags" aria-checked="false">
                    Barrierefreie Toiletten
                </label>
            </div>
            <div class="filter-input-wrapper">
                <label for="accessibility.accessibleAktivpassLinz" class="filter-label">
                    <input type="checkbox" id="accessibility.accessibleAktivpassLinz" value="accessibility.accessibleAktivpassLinz" name="flags" aria-checked="false">
                    Aktivpass möglich
                </label>
            </div>
            <div class="filter-input-wrapper">
                <label for="accessibility.accessibleKulturpass" class="filter-label">
                    <input type="checkbox" id="accessibility.accessibleKulturpass" value="accessibility.accessibleKulturpass" name="flags" aria-checked="false">
                    Kulturpass möglich
                </label>
            </div>
        </div>
    </fieldset>

    {{> layout/multiselect_fieldset identifier="locationCities" legend="Stadt" entries=filters.locationCities }}
    {{> layout/multiselect_fieldset identifier="locationNames" legend="Veranstaltungsort" entries=filters.locationNames }}
    {{> layout/multiselect_fieldset identifier="bandNames" legend="Musik" entries=filters.bandNames name="Bandname" data-category="MUSIC"}}

    <fieldset data-category-wanted="SPORT" class="hidden">
        <legend><strong>Sport</strong></legend>
        <div class="header-search-filter">
            <div class="header-date-search">
                <div class="filter-input-wrapper">
                    <label for="sportParticipation" class="filter-label">Teilnahme</label>
                    <select name="sportParticipation" id="sportParticipation" multiple>
                        <option value="">Beliebig</option>
                        <option value="active">Zum Mitmachen</option>
                        <option value="watch">Zum Zuschauen</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="search-buttons">
        <button id="filterSearchButton" aria-label="Events finden" type="submit">
            <svg height="20px" width="20px" title="Suche Logo" viewBox="0 0 512 512" >
                <use xlink:href="#search"></use>
            </svg>
            Suchen
        </button>
        <button id="resetSearchForm" type="button" data-drawer-last-focusable-element>
            Suche zurücksetzen
        </button>
    </div>
</form>