<style>
    @layer default {
    footer {
        margin: 124px 0 48px 0;
        display: flex;
        justify-content: space-between;
        padding: 0 48px;
        border-top: 1px solid var(--color-main-grey);
    }

    @media only screen and (max-width: 970px) {
        footer {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    footer a {
        font-size: var(--font-size-small);
        text-decoration: none;
    }

    footer ul {
        list-style: none;
        text-align: right;
    }
    }
</style>
<footer>
    <div>
        <ul>
            <li>
                <a target="_self" href="/about">Über uns</a>
            </li>
            <li>
                <a target="_self" href="/sources">Sources</a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/boudicca-events/boudicca.events">GitHub</a>
            </li>
            <li>
                <a target="_self" href="/erklarung-zur-barrierefreiheit">Erklärung zur Barrierefreiheit</a>
            </li>
            <li>
                <a target="_self" href="/impressum">Impressum</a>
            </li>
        </ul>
    </div>
    <div>
        <a href="#content-anchor">Nach oben</a>
    </div>
</footer>
