<footer>
    <div>
        <ul>
            <li>
                <a target="_self" href="/about">Über uns</a>
            </li>
            <li>
                <a target="_self" href="/sources">Sources</a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/boudicca-events/boudicca.events">GitHub</a>
            </li>
            <li>
                <a target="_self" href="/data-privacy">Data Privacy</a>
            </li>
            <li>
                <a target="_self" href="/erklarung-zur-barrierefreiheit">Erklärung zur Barrierefreiheit</a>
            </li>
            <li>
                <a target="_self" href="/impressum">Impressum</a>
            </li>
        </ul>
    </div>
    <div>
        <a href="#content-anchor">Nach oben</a>
    </div>
</footer>
