<footer>
    <div>
        <ul>
            {{#each extensionFooters as |extensionFooter|}}
                <li>
                    <a href="{{extensionFooter.url}}" target="{{extensionFooter.target}}">{{extensionFooter.text}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
    <div>
        <a href="#content-anchor">Nach oben</a>
    </div>
</footer>
