<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <script src="js/headermenu.js"></script>

    {{> media/svgsprite}}
    {{> css/fonts}}
    {{> css/theme}}
    {{> css/layout}}

    {{> @partial-block }}
</head>