<head>
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <script src="js/headermenu.js"></script>

    {{> media/svgsprite}}
    {{> css/layers}}
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/header.css">

    {{> @partial-block }}


    {{> custom/custom_header}}
</head>