<style>
    @layer default {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--color-main-grey);
    }

    .header-subtitle {
        margin-top: -4px;
    }

    @media only screen and (max-width: 700px) {
        header {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 24px;
        }

        #searchForm {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .header-title {
            font-size: var(--font-size-small);
        }

        .header-subtitle {
            display: none;
        }

        .search-input {
            min-width: 200px;
        }
    }

    @media only screen and (max-width: 970px) {
        .header-title {
            font-size: var(--font-size-medium);
        }

        .header-subtitle {
            font-size: var(--font-size-small);
        }
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 18px;
        text-decoration: none;
    }

    .header-left h1 {
        margin: 0;
    }

    .search-input {
        padding: 4px;
        min-width: 200px;
        appearance: none;
        height: 26px;
        border: none;
        border-bottom: 1px solid black;
        margin: auto;
    }

    .header-search-filter {
        display: flex;

        > button {
            display: flex;
        }
    }

    #searchForm {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .date-input {
        appearance: none;
        min-width: 135px;
    }

    .header-search {
        display: flex;
    }

    .header-search-wrapper {
        position: relative;
    }

    #searchButton {
        height: 100%;
        cursor: pointer;
    }

    #searchButton:focus-visible {
        outline: auto;
    }

    .searchform-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .filter-label {
        font-size: 12px;
        margin-bottom: 2px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: var(--space-small);
    }

    .filter-input-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #filterButton {
        margin-left: 12px;
    }
    }

</style>
<header>
    <form id="searchForm">
        <div class="searchform-top">
            <a href="/" class="header-left">
                <img src="/img/logo_small.png" height="48px" width="48px"
                     alt="Boudicca Logo - Ein rundes Schwarz-auf-Weiß-Bild. Ein stilisiertes Logo der Mondkrone des keltischen Volksstammes Iceni." />
                <div>
                    <h1 class="header-title">{{headerTitle}}</h1>
                    <p class="header-subtitle">Events · für alle · in Österreich</p>
                </div>
            </a>

            {{> layout/header_searchbar}}
            {{> layout/header_mobile_menu}}
            {{> layout/header_links}}

            <!--TODO if did not work :( -->
            {{> @partial-block }}
        </div>
    </form>
</header>
