<header>

    <a href="/" class="header-left">
        <img src="/img/logo_small.png" height="48px" width="48px"
             alt="Boudicca Logo - Ein rundes Schwarz-auf-Weiß-Bild. Ein stilisiertes Logo der Mondkrone des keltischen Volksstammes Iceni." />
        <div>
            <h1 class="header-title">{{headerTitle}}</h1>
            <p class="header-subtitle">Events · für alle · in Österreich</p>
        </div>
    </a>

    {{> layout/header_searchbar}}
    {{> layout/header_links}}

    <!--TODO if did not work :( -->
    {{> @partial-block }}

</header>
