<style>
    @layer default {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--color-main-grey);
        width: 100%;
        gap: 20px;
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 18px;
        text-decoration: none;
        white-space: nowrap;
    }

    .header-subtitle {
        margin-top: -4px;
    }

    .header-title {
        margin: 0;
        font-size: 1.8em;
    }

    header button {
        padding: 0;
    }

    @media only screen and (max-width: 700px) {
        header {
            gap: 16px;
            margin-top: 16px;
            margin-bottom: 16px;
            padding-bottom: 16px;
            flex-direction: row;
            align-items: flex-start;
        }

        .header-left {
            gap: 12px;
        }

        header img {
            width: 40px;
            height: 40px;
        }

        .header-title {
            font-size: var(--font-size-small);
        }

        .header-subtitle {
            display: none;
        }

    }

    @media only screen and (max-width: 970px) {
        .header-title {
            font-size: var(--font-size-medium);
        }

        .header-subtitle {
            font-size: var(--font-size-small);
            margin-top: 0;
        }
    }

    .header-search-filter {
        display: flex;

        > button {
            display: flex;
        }
    }

    .date-input {
        appearance: none;
        min-width: 135px;
    }

    .filter-label {
        font-size: 12px;
        margin-bottom: 2px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: var(--space-small);
    }

    .filter-input-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    @media only screen and (max-width: 520px) {
        header {
            flex-wrap: wrap;
        }

        .header-left {
            order: 1;
        }
    }
    }

</style>
<header>

    <a href="/" class="header-left">
        <img src="/img/logo_small.png" height="48px" width="48px"
             alt="Boudicca Logo - Ein rundes Schwarz-auf-Weiß-Bild. Ein stilisiertes Logo der Mondkrone des keltischen Volksstammes Iceni." />
        <div>
            <h1 class="header-title">{{headerTitle}}</h1>
            <p class="header-subtitle">Events · für alle · in Österreich</p>
        </div>
    </a>

    {{> layout/header_searchbar}}
    {{> layout/header_mobile_menu}}
    {{> layout/header_links}}

    <!--TODO if did not work :( -->
    {{> @partial-block }}

</header>
