<nav class="header-links">
    <a href="/search" target="_self" class="wantsSearchQuery">Events</a>
    <a href="/map" target="_self" class="wantsSearchQuery">Map</a>
    <a href="/sources" target="_self">Sources</a>
    {{#each extensionHeaders as |extensionHeader|}}
        <a href="{{extensionHeader.url}}" target="{{extensionHeader.target}}">{{extensionHeader.text}}</a>
    {{/each}}
    <a href="https://github.com/boudicca-events/boudicca.events" target="_blank">
        <svg height="22px" width="22px" title="Github Logo" viewBox="0 0 512 512" >
            <use xlink:href="#github"></use>
        </svg>
    </a>
</nav>

<nav class="header-mobile-menu">
    <button id="openMenuButton" aria-describedby="Menu öffnen" aria-controls="drawer" type="button">
        <svg height="36px" width="36px" title="Filter Logo" viewBox="0 0 512 512" >
            <use xlink:href="#menu"></use>
        </svg>
    </button>
    <button type="button" id="closeMenuButton" title="Filtersuche schließen" tabindex="0">
        <svg title="Schließen Logo" height="36px" width="36px" viewBox="0 0 512 512">
            <use xlink:href="#close"></use>
        </svg>
    </button>
</nav>

{{> layout/menu}}