<nav class="header-mobile-menu">
    <button id="openMenuButton" aria-describedby="Menu öffnen" aria-controls="drawer" type="button">
        <svg height="22px" width="22px" title="Filter Logo" viewBox="0 0 512 512" >
            <use xlink:href="#menu"></use>
        </svg>
    </button>

    {{> layout/menu}}
</nav>