<style>
    @layer default {
    .header-mobile-menu {
        display: none;
    }

    @media only screen and (max-width: 970px) {
        .header-mobile-menu {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 24px;
        }
    }

    @media only screen and (max-width: 700px) {
        .header-mobile-menu svg {
            width: 28px;
            height: 28px;
        }
    }

    @media only screen and (max-width: 520px) {
        .header-mobile-menu {
            padding: 4px 4px 0 0;
            order: 2;
        }
    }
    }

</style>
<nav class="header-mobile-menu">
    <button id="openMenuButton" aria-describedby="Menu öffnen" aria-controls="drawer" type="button">
        <svg height="22px" width="22px" title="Filter Logo" viewBox="0 0 512 512" >
            <use xlink:href="#menu"></use>
        </svg>
    </button>

    {{> layout/menu}}
</nav>
