<form id="searchForm">
    <div class="header-search">
        <label for="name" class="visible-hidden">Textsuche</label>
        <input id="name" name="name" type="text" class="search-input" data-testid="search-field" />

        <button id="searchButton" aria-label="Events finden" type="submit">
            <svg height="24px" width="24px" title="Suche Logo" viewBox="0 0 512 512" aria-label="Event-Suche starten">
                <use xlink:href="#search"></use>
            </svg>
        </button>

        <button id="filterButton" aria-label="Filter öffnen" aria-controls="drawer" type="button">
            <svg height="22px" width="22px" title="Filter Logo" viewBox="0 0 512 512" aria-label="Filter öffnen und schließen">
                <use xlink:href="#funnel"></use>
            </svg>
        </button>

    </div>
</form>