<form id="searchForm">
    <div class="header-search">
        <label for="name" class="visible-hidden">Textsuche</label>
        <input id="name" name="name" type="text" class="search-input" data-testid="search-field" />

        <button id="searchButton" aria-describedby="Events finden" type="submit">
            <svg height="24px" width="24px" title="Suche Logo" viewBox="0 0 512 512" >
                <use xlink:href="#search"></use>
            </svg>
        </button>

    </div>
</form>