<div class="header-right">
    <div class="header-search">
        <div class="header-search-wrapper">
            <div>
                <label for="name" class="visible-hidden">Textsuche</label>
                <input id="name" name="name" type="text" class="search-input" data-testid="search-field" />
            </div>
            <button id="searchButton" aria-describedby="Events finden" type="submit">
                <svg height="24px" width="24px" title="Suche Logo" viewBox="0 0 512 512" >
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </div>

        <button id="filterButton" aria-describedby="Filter öffnen" aria-controls="drawer" type="button">
            <svg height="22px" width="22px" title="Filter Logo" viewBox="0 0 512 512" >
                <use xlink:href="#funnel"></use>
            </svg>
        </button>
         {{> layout/drawer}}
    </div>
</div>