<style>
    #map {
        height: 600px;
    }

    .leaflet-popup-content ul {
        max-height: 200px;
        padding-left: 0;
        overflow: scroll;
    }

    .leaflet-popup-content li {
        list-style-type: none;
    }
</style>

<main id="main-content" class="main">
    <div id="map"></div>
</main>