<div id="mobile-menu" class="mobile-menu">
    <nav class="menu-header-links">
        <a href="/" target="_self">Events</a>
        <a href="/sources" target="_self">Sources</a>
        {{#each extensionHeaders as |extensionHeader|}}
            <a href="{{extensionHeader.url}}" target="{{extensionHeader.target}}">{{extensionHeader.text}}</a>
        {{/each}}
    </nav>
</div>
