<div id="mobile-menu" class="mobile-menu">
    <div class="mobile-menu-header">
        <h2>Menü</h2>
        <button type="button" id="closeMenuButton" title="Filtersuche schließen" tabindex="0">
            <svg title="Schließen Logo" height="56px" width="56px" viewBox="0 0 512 512">
                <use xlink:href="#close"></use>
            </svg>
        </button>
    </div>

    <nav class="menu-header-links">
        <a href="/" target="_self">Events</a>
        <a href="/sources" target="_self">Sources</a>
        {{#each extensionHeaders as |extensionHeader|}}
            <a href="{{extensionHeader.url}}" target="{{extensionHeader.target}}">{{extensionHeader.text}}</a>
        {{/each}}
    </nav>
</div>
