<style>
    @layer default {
    .modal {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-description {
        display: -webkit-box;
        max-width: 400px;
        /* https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines */
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .modal-flex {
        display: flex;
        flex-direction: column;
        background-color: var(--color-main);
        padding: 2rem;
    }

    .modal-row {
        display: flex;
        flex-direction: row;
    }

    .modal-column {
        display: flex;
        flex-direction: column;
    }

    #modal-content {
        background-color: var(--color-main);
        margin: 5% auto;
        border: 1px solid var(--anchor-to-eventpage-border-color);
        width: 80%;
        max-width: 970px;
        position: relative;
    }

    #modal-close {
        z-index: 100;
    }

    @media only screen and (max-width: 970px) {}
    @media only screen and (max-width: 700px) {
        #modal-content {
            margin: unset;
            width: 100%;
        }
    }

    .details-box {
        margin: 20px auto 0;
        height: 400px;
        overflow: auto;
    }

    .details-box ul {
        border: 1px solid black;
        overflow: hidden;
        height: 50px;
        margin: 0;
        padding: 0;
    }

    .details-box li {
        float: left;
        list-style-type: none;
        width: 150px;
    }

    .details-box li a {
        display: inline-block;
        text-decoration: none;
        width: 100%;
        line-height: 50px;
        background: white;
        color: black;
        text-align: center;
        font-weight: bold;
    }

    .details-box li a:focus,
    .details-box li a:hover {
        background-color: var(--color-main);
        color: black;
    }

    .details-box li a.active-tab {
        background-color: var(--color-main);
        color: black;
    }

    .details-box li a.active-tab.event-modal-miscArt {
        background-color: var(--color-main-yellow);
    }

    .details-box li a.active-tab.event-modal-tech {
        background-color: var(--color-main-green);
    }

    .details-box li a.active-tab.event-modal-music {
        background-color: var(--color-main-red);
    }

    .details-box .panels {
        position: relative;
        height: calc(100% - 50px);
        overflow-y: auto;
    }

    .details-box article {
        background-color: var(--color-main);
        color: black;
        position: absolute;
        padding: 10px 20px;
        width: -webkit-fill-available;
        top: 0;
        left: 0;
    }

    .details-box article.event-modal-miscArt {
        background-color: var(--color-main-yellow);
    }

    .details-box article.event-modal-tech {
        background-color: var(--color-main-green);
    }

    .details-box article.event-modal-music {
        background-color: var(--color-main-red);
    }

    .details-box .active-panel {
        z-index: 1;
    }
    }
</style>

<div id="modal" class="modal">
    <button id="modal-close" class="modal-close-button">
        <svg height="32px" width="32px" viewBox="0 0 512 512">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div id="modal-content"></div>
</div>
