<main class="main">
    <p>Hier sind alle unsere Sourcen aufgelistet von welchen wir unseren Daten beziehen:</p>
    <ul style="list-style-type:none">
        {{#each sources as |source|}}
            <li>{{source}}</li>
        {{/each}}
    </ul>
</main>