<!DOCTYPE html>
<html lang="de-AT">
    {{> layout/head title="Über boudicca.events" }}
    <body>
        <div id="content-anchor" class="content">
            <a id="accessibility-main-skip-link" href="#main-content">Zum Hauptinhalt überspringen</a>

            {{> layout/header_mobile_menu}}
            {{> layout/header_links}}
            {{> layout/aboutus_content}}
            {{> layout/footer}}
        </div>

        <script src="js/menu.js"></script>
    </body>
</html>
