<!DOCTYPE html>
<html lang="de-AT">
{{#> layout/head title="Data Privacy" }}
{{/layout/head}}
<body>
<div id="content-anchor" class="content">
    <a id="accessibility-main-skip-link" href="#main-content">Zum Hauptinhalt überspringen</a>

    {{> layout/data_privacy_content}}
    {{> layout/footer}}
</div>

<script src="js/menu.js"></script>
</body>
</html>
