<!DOCTYPE html>
<html lang="de-AT">
    {{> layout/head title="Erklärung zur Barrierefreiheit boudicca.events" }}
    <body>
        <a id="accessibility-main-skip-link" href="#main-content">Zum Hauptinhalt überspringen</a>

        <div class="content">
            {{> layout/header_links}}
            {{> layout/erklarungzurbarrierefreiheit_content}}
            {{> layout/footer}}
        </div>
    </body>
</html>
