<!DOCTYPE html>
<html lang="de-AT">
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {{> media/svgsprite}}
        {{> css/fonts}}
        {{> css/theme}}
        {{> css/layout}}
    </head>

    <body>
        <div class="content">
            <div class="header-links">
                <a href="/" target="_self">Zur Einstiegsseite</a>
                <a href="https://updatesocial.org" target="_blank" >Update Social</a>
                <a href="https://github.com/Yolgie/boudicca" target="_blank">GitHub</a>
            </div>
            {{> layout/standaloneheader}}
            {{> layout/content}}
            {{> layout/footer}}
        </div>
    </body>
</html>