<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/main.js"></script>
</head>
<body>
    <div>Boudicca</div>
    <img src="img/updatesocial_logo.svg" />
</body>
</html>