<!DOCTYPE html>
<html lang="de-AT">
    <head>
        <title>{{title}}</title>
        
        {{> media/svgsprite}}
        {{> css/fonts}}
        {{> css/theme}}
        {{> css/layout}}
    </head>

    <body>
        <div class="content">
            {{> layout/header}}
            {{> layout/main events}}
            {{> layout/footer}}
        </div>

        <script src="js/main.js"></script>
    </body>
</html>