<!DOCTYPE html>
<html lang="de-AT">
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {{> media/svgsprite}}
        {{> css/fonts}}
        {{> css/theme}}
        {{> css/layout}}
    </head>

    <body>
        <div class="content">
            <div class="header-links">
                <a href="/about" target="_self">Über uns</a>
                <a href="https://updatesocial.org" target="_blank" >Update Social</a>
                <a href="https://github.com/Yolgie/boudicca" target="_blank">GitHub</a>
            </div>

            {{> layout/header}}
            {{> layout/main events}}
            {{> layout/footer}}
        </div>

        <script src="js/main.js"></script>
    </body>
</html>