<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <script src="js/main.js"></script>
        
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        {{> css/fonts}}
        {{> css/theme}}
        {{> css/layout}}
    </head>

    <body>
        <div class="content">
            {{> layout/header}}
            {{> layout/main events}}
            {{> layout/footer}}
        </div>
    </body>
</html>