<!DOCTYPE html>
<html lang="de-AT">
    {{> layout/head title="Impressum" }}
    <body>
        <div class="content">
            {{> layout/header_links}}
            {{> layout/impressum_content}}
            {{> layout/footer}}
        </div>
    </body>
</html>