<div id="event-details-modal" class="modal">
    <div class="modal-content"></div>
</div>

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-flex-container {
        display: flex;
    }

    .modal-column {
        flex: 1;
        padding: 10px;
    }

    .modal-tabs {
        margin-top: 20px;
    }

    .tab-button {
        background-color: #f2f2f2;
        border: none;
        color: black;
        padding: 10px 20px;
        cursor: pointer;
    }

    .tab-button.active {
        background-color: #ccc;
    }

    .tab-content {
        display: none;
        padding: 20px;
    }

    .tab-content.active {
        display: block;
    }


    .modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 970px;
        position: relative;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 10px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
