<style>
    .events-grid {
        gap: 18px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%),1fr));
    }

    .event {
        display: flex;
        flex-direction: column;
    }

    .event-title {
        font-size: 1.2em;
        margin-top: 18px;
        margin-bottom: 8px;
        font-weight: 600;
        /** https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .event-image {
        height: 250px;
        background-color: var(--color-main);
        object-fit: scale-down;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .event-image-tech {
         background-color: var(--color-main-green);
    }

    .event-image-miscArt {
         background-color: var(--color-main-yellow);
    }

    .event-image-music {
         background-color: var(--color-main-red);
    }

    .event-description {
       padding: 4px 8px;
       font-size: var(--font-size-small);
    }

    .anchor-to-eventpage {
        color: inherit;
        position: absolute;
        text-decoration: none;
        right: 8px;
        font-size: 14px;
        padding: 8px 24px;
        border: 1px solid var(--anchor-to-eventpage-border-color);
        background-color: var(--anchor-to-eventpage-background-color);
        bottom: -18px;
        font-weight: bold;
    }
    
    .event-details {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        gap: 6px;

        :first-child {
            font-size: var(--font-size-large);
        }
    }

    .event-details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .accessibility-details {
        display: flex;
        background-color: white;
        position: absolute;
        left: var(--space-medium);
        padding: var(--space-medium);
        border: 1px solid black;
        top: var(--space-medium);
    }

    #loadMoreButton {
        font-size: var(--font-size-large);
        margin-top: var(--space-xxlarge);
    }

    #endOfResults {
        font-size: var(--font-size-large);
        margin-top: var(--space-xxlarge);
        display: flex;
        flex-direction: column;
        gap: var(--space-medium);
    }
</style>

<div id="eventsContainer" class="events-grid">
    {{> events/eventsRaw }}
</div>
<div style="text-align: center">
    <button id="loadMoreButton">Mehr laden</button>
</div>
<div id="endOfResults" style="display: none">
    <p>Du hast das Ende der Suchergebnisse erreicht.</p>
    <p>Es fehlen Inhalte? Schreibe uns deine Empfehlung via E-Mail an <a href="mailto:team@boudicca.events">team@boudicca.events</a>.</p>
</div>
