<div id="eventsContainer" class="events-grid">
    {{> events/eventsRaw }}
</div>
<div style="text-align: center">
    <button id="loadMoreButton">Mehr laden</button>
</div>
<div id="resultNotFound" style="display: none">
    <p>Keine Ereignisse gefunden für <span id="searchText"></span></p>
    <p><a href="/" style="display: block">zurück zur Liste aller Ereignisse</a></p>
</div>
<div id="endOfResults" style="display: none">
    <p>Du hast das Ende der Suchergebnisse erreicht.</p>
    <p>Es fehlen Inhalte? Schreibe uns deine Empfehlung via E-Mail an <a href="mailto:team@boudicca.events">team@boudicca.events</a>.</p>
</div>
