[versions]
kotlin = "1.9.20"
kotlinx-serialization = "1.6.0"
maven-artifact = "3.5.0"
jupiter = "5.10.0"
jackson = "2.16.0"
clf-platform-spring = "2.1.5"

[libraries]
cloudflight-platform-spring-bom = { module = "io.cloudflight.platform.spring:platform-spring-bom", version.ref = "clf-platform-spring" }
cloudflight-platform-spring-test-bom = { module = "io.cloudflight.platform.spring:platform-spring-test-bom", version.ref = "clf-platform-spring" }

# IMPORTANT: do not update, see https://github.com/gigaSproule/swagger-gradle-plugin/issues/186
swagger-gradle-plugin = { module = "com.benjaminsproule:swagger-gradle-plugin", version = "1.0.8" }
swagger-codegen-plugin = { module = "gradle.plugin.org.hidetake:gradle-swagger-generator-plugin", version = "2.19.1" }
