<!DOCTYPE html>
<html lang="de-AT">
    {{> layout/head title="Boudicca" }}
    <body>
        <div class="content">
            {{> layout/header_links}}
            {{> layout/header title="BOUDICCA.EVENTS" add-header-searchbar=true}}
            {{> layout/main events}}
            {{> layout/footer}}
        </div>

        <script src="js/main.js"></script>
    </body>
</html>