<div class="event">
    <img class="event-image" src="/img/image_placeholder.svg"/>
    <div class="event-description">
        <p class="event-title">Oxymoron: Great Reset Tour 2023</p>
        <div class="event-details-wrapper">
            <div class="event-details">
                <ion-icon name="time-outline"></ion-icon>
                <p>24.3.2023, 15:00:00</p>
            </div>
                <div class="event-details">
                <ion-icon name="location-outline"></ion-icon>
                <p>DS Automotion</p>
            </div>
        </div>
    </div>
</div>