<style>
    .events-grid {
        gap: 18px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%),1fr));
    }

    .event {
        display: flex;
        flex-direction: column;
    }

    .event-title {
        font-size: 1.2em;
        margin-bottom: 6px;

        /** https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .event-image {
        height: 250px;
        background-color: var(--color-yellowish);
        object-fit: scale-down;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .event-description {
       padding: 4px 8px;
       font-size: var(--font-size-small);
    }
    
    .event-details {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        gap: 6px;

        :first-child {
            font-size: var(--font-size-large);
        }
    }

    .event-details-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
</style>

<div id="eventsContainer" class="events-grid">
    {{#each events as |event|}}
        {{> events/event event}}
    {{/each}}
</div>