<div class="event">
    <svg class="event-image" aria-hidden="true" viewBox="0 0 512 512" >
        <use xlink:href="#image"></use>  
    </svg>

    <div class="event-description">
        <p class="event-title">{{event.name}}</p>
        <div class="event-details-wrapper">
            <div class="event-details">
                <svg height="28px" width="28px" viewBox="0 0 512 512" >
                    <use xlink:href="#time"></use>  
                </svg>
                <p>{{event.startDate}}</p>
            </div>
                <div class="event-details">
                    <svg height="28px" width="28px" viewBox="0 0 512 512" >
                    <use xlink:href="#location"></use>  
                </svg>
                <p>todo</p>
            </div>
        </div>
    </div>
</div>