<style>
    .featured-events {
        gap: 12px;
        display: grid;
        grid-template-areas:
            "featured-event-1 featured-event-1 featured-event-2"
            "featured-event-1 featured-event-1 featured-event-3";
        grid-template-rows: repeat(2, 250px);
    }

    .featured-event-1 {
        grid-area: featured-event-1;
        background-color: #A3C9A8;
    }

    .featured-event-2 {
        grid-area: featured-event-2;
        background-color:#84B59F;
    }

    .featured-event-3 {
        grid-area: featured-event-3;
        background-color: #69A297;
    }
</style>

<div class="featured-events">
    <div class="featured-event-1">

    </div>
    <div class="featured-event-2">

    </div>
    <div class="featured-event-3">

    </div>
</div>