<!DOCTYPE html>
<html lang="de-AT">
    {{#> layout/head }}
    {{/layout/head}}
    <body>
        <div id="content-anchor" class="content">
            {{#> layout/header showSearchbar=false}}{{/layout/header}}
            <h4>An error occured...</h4>

            <p>ErrorId: {{errorId}}</p>
            {{> layout/footer}}
        </div>

        <script src="js/menu.js"></script>
    </body>
</html>
