<!DOCTYPE html>
<html lang="de-AT">
    {{> layout/head title=title }}
    <body>
        <a id="accessibility-main-skip-link" href="#main-content">Zum Hauptinhalt überspringen</a>

        <div class="content">
            {{> layout/header_links}}
            {{#> layout/header title="BOUDICCA.EVENTS"}}
                {{> layout/header_searchbar}}
            {{/layout/header}}
            {{> layout/main events}}
            {{> layout/footer}}
        </div>

        <script src="js/main.js"></script>
    </body>
</html>