<!DOCTYPE html>
<html lang="de-AT">
    {{> layout/head title="Boudicca" }}
    <body>
        <div class="content">
            {{> layout/header_links}}
            {{#> layout/header title="BOUDICCA.EVENTS"}}
                {{> layout/header_searchbar}}
            {{/layout/header}}
            {{> layout/main events}}
            {{> layout/footer}}
        </div>

        {{> events/eventDetailsModal}}
        <script src="js/main.js"></script>
    </body>
</html>