<!DOCTYPE html>
<html lang="de-AT">
    {{#> layout/head title="Boudicca Map" }}
        <link rel="stylesheet" href="leaflet/leaflet.css" />
        <link rel="stylesheet" href="css/map.css">
        <script src="leaflet/leaflet.js"></script>
        <script src="js/map.js"></script>
        <script src="js/main.js"></script>
        <script src="js/menu.js"></script>
    {{/layout/head}}

    <body>
        <div id="content-anchor" class="content">
            {{#> layout/header showSearchbar=true}}{{/layout/header}}
            {{> layout/drawer}}
            {{> layout/map}}
            {{> layout/footer}}
            {{> layout/modal}}
        </div>
    </body>
</html>
