<!DOCTYPE html>
<html lang="de-AT">
    {{> layout/head title="Boudicca Sources" }}
    <body>
        <div class="content">
            {{> layout/header_links}}
            {{#> layout/header title="Sources"}}
            {{/layout/header}}
            {{> layout/sources sources}}
            {{> layout/footer}}
        </div>
    </body>
</html>