<style>
    .footer {
        margin: 124px 0 48px 0;
        display: flex;
        justify-content: space-between;
        padding: 0 48px;
    }

    .footer-update-social-logo {
        height: 75px;
    }

    @media only screen and (max-width: 970px) {  
        .footer {
            padding: 0 48px;
            gap: 12px;
        }
    }

    .footer-list {
        list-style: none;
        font-size: var(--font-size-small);
        padding: 0;
        text-align: right;
    }
</style>
<footer class="footer">
    <div>
        <ul class="footer-list">
            <li>
                <a class="footer-link" target="_blank" href="https://github.com/boudicca-events/boudicca.events">GitHub</a>
            </li>
            <li>
                <a class="footer-link" target="_self" href="/about">Über uns</a>
            </li>
            <li>
                <a class="footer-link" target="_self" href="/impressum">Impressum</a>
            </li>
        </ul>
    </div>
</footer>
