<style>
    .drawer {
        z-index: 9999;
        min-width: 500px;
        display: flex;
        height: 100%;
        flex-direction: column;
        background: white;
        padding: 32px;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        visibility: hidden;
        border-left: 1px solid black;
        box-shadow: 1px 0px 10px 11px #87878724;
    }

    .drawer-open {
        visibility: visible;
        opacity: 1;
    }

    fieldset {
        padding: 0;
        border: none;
    }

    legend {
        margin-bottom: 12px;
    }
</style>

<div id="drawer" class="drawer">
    <div>
        <h2>Filtersuche</h2>
    </div>

    <fieldset>
        <legend><strong>Datum</strong></legend>
        <div class="header-search-filter">
            <div class="header-date-search">
                <div class="filter-input-wrapper">
                    <label for="fromDate" class="filter-label">Von</label>
                    <input id="fromDate" name="fromDate" type="date" class="date-input" />
                </div>
                
                    <div class="filter-input-wrapper">
                    <label for="toDate" class="filter-label">Bis</label>
                    <input id="toDate" name="toDate" type="date" class="date-input" />
                </div>
            </div>
        </div>
    </fieldset>
</div>