<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    @media only screen and (max-width: 700px) {
        .header {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 24px;
        }
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .header-right {
        display: flex;
        align-items: center;
    }

    .search-input {
        border-radius: 4px;
        padding: 4px;
        min-width: 250px;
        appearance: none;
        height: 26px;
    }

    .search-input:focus-visible {
        outline: 2px solid;
        outline-offset: 1px;
    }

    .header-search-filter {
        display: flex;

        > button {
            display: flex;
        }
    }

    #searchForm {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    
</style>
<header class="header">
    <div class="header-left">
        <svg title="Boudicca Logo" height="56px" width="56px" viewBox="0 0 512 512" >
            <use xlink:href="#colorfilter"></use>  
        </svg>
        <h1>BOUDICCA</h1>
    </div>

    <div class="header-right">
         <form id="searchForm">
            <label>
                Suche:
                <input name="name" type="text" class="search-input" />
            </label>
            <div class="header-search-filter">
                <button aria-label="Datumssuche">
                    <svg height="38px" width="38px" title="Zahnrad Logo" viewBox="0 0 512 512" >
                        <use xlink:href="#settings"></use>
                    </svg>
                </button>

                 <button aria-label="Datumssuche">
                    <svg height="38px" width="38px" title="Kalender Logo" viewBox="0 0 512 512" >
                        <use xlink:href="#calendar"></use>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</header>