<div class="header-links">
    <a href="/" target="_self">Events</a>
    {{#each extensionHeaders as |extensionHeader|}}
        <a href="{{extensionHeader.url}}" target="_self">{{extensionHeader.text}}</a>
    {{/each}}
</div>
