<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    .boudicca-icon {
        font-size: 56px;
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .header-right {
        display: flex;
        align-items: center;
    }
</style>
<header class="header">
    <div class="header-left">
        <ion-icon class="boudicca-icon" name="color-filter-outline"></ion-icon>
        <h1>BOUDICCA</h1>
    </div>

    <div class="header-right">
        <input type="text" />
        <input type="date" />
        <input type="date" />
    </div>
</header>