<div class="header-links">
    <a href="/" target="_self">Events</a>
    <a href="/about" target="_self">Über uns</a>
    <a href="https://github.com/Yolgie/boudicca" target="_blank">GitHub</a>
</div>
