<style>
    .home-link {
        margin-top: 24px;
        display: inline-block;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .about-content p{
        margin-top: 10px;
    }

    .standaloneheader {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        gap: 18px;
    }

    @media only screen and (max-width: 700px) {
        h1 > span {
            display: none;
        }
    }
</style>
<header class="standaloneheader">
    <img src="/img/logo_small.png" alt="Boudicca Logo - Ein rundes Schwarz-auf-Weiß-Bild. Ein stilisiertes Logo der Mondkrone des keltischen Volksstammes Iceni." />
    <h1>Impressum</h1>
</header>
<main class="main">
    <div class="about-content">
        <div>
            <p>
                Matthias Ableidinger, Kaarstraße 27 4040 Linz
            </p>

            <p>
                <a href="mailto:team@boudicca.events">team@boudicca.events</a>
            </p>
        </div>

    </div>

    <a href="/" target="_self" class="home-link">Zur Einstiegsseite</a>
</main>