<style>
    .standaloneheader {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        gap: 18px;
    }

    @media only screen and (max-width: 700px) { 
        h1 > span {
            display: none;
        }
    }
}
</style>
<header class="standaloneheader">
    <svg title="Boudicca Logo" height="56px" width="56px" viewBox="0 0 512 512" >
        <use xlink:href="#colorfilter"></use>
    </svg>
    <h1>ÜBER <span>BOUDICCA</span></h1>
</header>