name: Deployment Prod

on: workflow_dispatch

permissions:
  contents: read
  packages: write

concurrency: prod

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Execute Gradle build with tests
        run: ./gradlew build
      - name: Build Docker images with gradle
        run: ./gradlew imageBuild
      - name: Login to Docker Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: 'ghcr.io'
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag And Push Docker Images
        run: ./deploy_images.sh
      - name: triggering deploy
        uses: appleboy/ssh-action@91f3272fc5907f4699dcf59761eb622a07342f5a
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: ignored
