name: detekt

on:
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]
#  schedule:
#     - cron: '42 1 * * 0'

  workflow_dispatch:

#permissions:
#  contents: read
#  pull-requests: write

jobs:
  detekt:
    name: Check Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Setup detekt
        uses: peter-murray/setup-detekt@v3
        with:
          detekt_version: v2.0.0-alpha.1

      - name: Run detekt
        run: detekt-cli --build-upon-default-config --config detekt-config.yml
#          github_token: ${{ secrets.github_token }}
