name: Publish Docker images

on: workflow_dispatch

permissions:
    contents: read

concurrency: publish

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        environment: publish

        steps:
            -   uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            -   name: Set up JDK 21
                uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
                with:
                    java-version: '21'
                    distribution: 'temurin'
            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
            -   name: Execute Gradle build with tests
                run: ./gradlew build
            -   name: Build Docker images with gradle
                run: ./gradlew imageBuild
            -   name: Login to Docker Registry
                uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
                with:
                    registry: 'docker.io'
                    username: ${{ secrets.DOCKERREGISTRY_USERNAME }}
                    password: ${{ secrets.DOCKERREGISTRY_TOKEN }}
            -   name: Tag And Push Docker Images
                run: ./publish_images.sh
